<!DOCTYPE html><html>
<!-- ========================================== kroc camen of camen design ============================================= -->
<title>__TITLE__</title>
<link rel="stylesheet" type="text/css" href="/design/design.css" />
<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />
<link rel="alternate" type="application/rss+xml" href="__RSS_URL__" title="__RSS_TITLE__" />
<link rel="canonical" href="/__URL__" />
<!-- =================================================================================================================== -->
<header>
	<h1><a href="/" rel="index">
		Camen Design
	</a></h1>
	<nav><ul>
		<li><a href="/" rel="tag">all</a></li>
		<li><a href="/projects" rel="tag">projects</a></li>
		<li><a href="http://forum.camendesign.com">forum</a></li>
	</ul><ul>
        <!-- types -->
        <li><a href="__HREF__" rel="tag">__TAG__</a></li>
    </ul><ul>
        <!-- types -->
        <li><a href="__HREF__" rel="tag">__TAG__</a></li>
    </ul>
    <a rel="next" href="__HREF__">
        ← newer article
    </a>
    <a rel="previous" href="__HREF__">
        older article →
    </a></nav>
</header>
<!-- =================================================================================================================== -->
<article><header>
	<!-- date published or updated -->
	<time pubdate datetime="__DATE__">
		<sup>__HOUR__:__MINS__<abbr>__AMPM__</abbr> • __YEAR__</sup>
		<abbr title="__MONTH__">__MON__</abbr> __DAY__
	</time>
	<!-- categories -->
	<ul>
		<li><a href="__HREF__" rel="bookmark tag">__TAG__</a></li>
</ul>
    <!-- licence -->
	<small>
		<abbr title="copyright">©</abbr>
		copyright
    </small>
	<small>
		<a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_GB">c</a>
		share + remix
    </small>
    <small>
		<a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_GB">c</a>
		share + remix (non-commercial)<br /><br />
		<em>Please <a href="mailto:kroc@camendesign.com">e-mail</a> me if you would like a commercial licence.</em>
	</small>
    <!-- enclosure -->
    <a type="__MIME__" href="__HREF__">
        __NAME__ <em>__SIZE__</em>
    </a>
</header>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
__CONTENT__
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
</article>
<footer>
	<nav><a href="http://forum.camendesign.com">‹ Discuss this in the Forum ›</a></nav>
		
	<a href="mailto:kroc@camendesign.com">kroc@camendesign.com</a>
	<nav>view-source:
		<a href="/__HREF__.rem">Rem</a> •
		<a href="/__HREF__.html">HTML</a> •
		<a href="/design/">CSS</a> •
		<a href="/.system/">PHP</a> •
		<a href="/.htaccess">.htaccess</a>
	</nav>
	<form method="get" action="https://duckduckgo.com">
		<input type="hidden" name="sites" value="__HOST__" />
		<input type="search" name="q" placeholder="search…" />
		<input type="submit" value="Go" />
	</form>
</footer>
<!-- =================================================================================================== code is art === -->
</html>