<link rel="alternate" type="application/rss+xml" href="&__RSS_URL__;" title="&__RSS_TITLE__;" />&__CANONICAL__;
<!-- =================================================================================================================== -->
<header>
	<h1><a href="/" rel="index">
		Camen Design
	</a></h1>
	<nav><ul>
		<li><a href="/"&__ALL_ON__;>all</a></li>
		<li><a href="/projects"&__PROJECTS_ON__;>projects</a></li>
		<li><a href="http://forum.camendesign.com">forums</a></li>
	</ul><ul>
&__CLOUD_TYPES__;	</ul><ul>
&__CLOUD_TAGS__;	</ul>&__NEXT__;&__PREV__;</nav>
</header>
<!-- =================================================================================================================== -->