<article><header>
	<!-- date published or updated -->
	<time pubdate datetime="&__DATE__;">
		<sup>&__HOUR__;:&__MINS__;<abbr>&__AMPM__;</abbr> • &__YEAR__;</sup>
		<abbr title="&__MONTH__;">&__MON__;</abbr> &__DAY__;
	</time>
	<!-- categories -->
	<ul>
&__CATEGORIES__;	</ul>&__LICENCE__;&__ENCLOSURE__;
</header>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
&__CONTENT__;
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
</article>