<!DOCTYPE html><html>
<!-- ========================================== kroc camen of camen design ============================================= -->
<title>__TITLE__</title>
<link rel="stylesheet" type="text/css" href="/design/design.css" />
<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />
<!-- =================================================================================================================== -->
<header>
	<h1><a href="/" rel="index">
		Camen Design
	</a></h1>
	<nav><ul>
		<li><a href="/" rel="tag">all</a></li>
		<li><a href="/projects" rel="tag">projects</a></li>
		<li><a href="http://forum.camendesign.com">forum</a></li>
	</ul><!-- types: --><ul>
		<li><a href="__HREF__" rel="tag">__TAG__</a></li>
	</ul><!-- tags: --><ul>
		<li><a href="__HREF__" rel="tag">__TAG__</a></li>
	</ul></nav>
</header>
<!-- =================================================================================================================== -->
<article>
	
</article>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<footer>
	<a href="mailto:kroc@camendesign.com">kroc@camendesign.com</a>
	<nav>view-source:
		<a rel="nofollow" href="/__HREF__.rem">Rem</a> •
		<a rel="nofollow" href="/__HREF__.html">HTML</a> •
		<a href="/design/design.css">CSS</a> •
		<a href="/.system/">PHP</a> •
		<a href="https://github.com/Kroc/CamenDesign/blob/master/.htaccess">.htaccess</a>
	</nav>
	<form method="get" action="https://duckduckgo.com">
		<input type="hidden" name="sites" value="__HOST__" />
		<input type="search" name="q" placeholder="search…" />
		<input type="submit" value="Go" />
	</form>
</footer>
<!-- =================================================================================================== code is art === -->
</html>