<link rel="stylesheet" type="text/css" href="/design/edit.css" />
<!-- =================================================================================================================== -->
<form method="post" enctype="application/x-www-form-urlencoded;charset=UTF-8" id="scrollbar_container">
<fieldset id="toolbar"><!--
	--><input type="submit" id="commit" name="commit" value="Commit" /><!--
	--><label for="password"><!--
		-->Password<!--
		--><input type="password" id="password" name="password" /><!--
		--><input type="submit" value="→" /><!--
	--></label><!--
	--><input type="submit" id="preview" value="Preview" /><!--
	--><button id="max">Maximise</button><!--
	--><button id="min">Minimise</button><!--
--></fieldset>
<!-- ~~~ article text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="scroll"><textarea id="content" name="content">&__CONTENT__;</textarea></div>
</form>
<!-- =================================================================================================================== -->